<?xml version="1.0" encoding="UTF-8"?>
<Configuration >
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [Thread %tid] %C{5.} %-M() Line:%L - %msg%n"/>
        </Console>
        <RollingFile name="file" fileName="logs/app.log" filePattern="logs/app.%d{MM-dd-yyyy}.log.gz">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [Thread %tid] %C{3.} %-M() Line:%L - %msg%n"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.bh.gsc" level="debug" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="file"/>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
