server:
  port: 8080

spring:
  service:
    name: ispring-example-service
  version: bamboobuild

info:
  service: ${spring.service.name}
  port: ${server.port}
  description: description

springdoc.swagger-ui.path: /api/swagger-ui-home.html

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"


